@media  (max-width: 390px) {
    .container{
        max-width: 375px;
        min-height: 844px;
        overflow-x: hidden;
    }

    .nav h3{
        font-size: 25px;
        height: 24px;
        padding-top: 6px;
        padding-left: 10px;
        
    }
    
    .buttons{
        margin-right: 15px;
       display: flex;
       width: 160px;
    
        
    }y
    .btn-flex{
      margin-left: 20px;
    }
    .btn-flex2{
        margin-left: -20px;
    }
   .btn1{
    height: 27px;
    width: 80px;
   }
 
   .sign-in {
        width: 70px;
        height: 27px;
    }
    
    .btn1 p,.sign-in{
        font-size: 13px;
        padding-left: 0;
    }

    img{
        width: 15px;
    }
    .arrow{
        width: 175px;
    }

    .content{
        max-width: 400px;
    }
    .des-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .des1{
        font-size: 25px;
        width: 300px;
        text-align: center;
        line-height: 35px;
    }
    .des2{
        font-size: 20px;
        word-spacing: 2px;
        padding-top: 10px;
    }

    .des3{
        font-size: 20px;
        font-weight: 500;
    }
    .content-flex{
     width: 390px;
     display: flex;
     flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
        
     }
     .input-con{
        display: flex;
        justify-content: center;
        margin-right: 10px;
        
     }
    input{
        width: 350px;
        height: 50px;
        border: none;
        border-radius: 5px;
      

       
    }

    input:focus{
        outline: solid 1px rgb(81, 166, 212);
    }
    input[type=text]{
        padding-left: 10px;
        font-size: 17px;
    }
    .signin-con{
        display: flex;
        justify-content: center;
    }
    .get-started{
       min-width: 74px;
        background-color: #e50914;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin-top: 15px;
    
    }
    .get-started p{
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        font-size: 20px;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
    }
    .arrow-left{
        width: 50px;
    }
    
}