*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    background: url(photos/netflixcover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav  h3{
    color: #e50914;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 20px;
}

.buttons{
    width: 200px;
    margin-right: 80px;
    margin-top: 20px;
   display: flex;
   justify-content: space-between;

}

.btn1{
    border: solid 1px #fff;
    
 
}

.btn1 p{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-left: 5px;
}
.sign-in{
    background-color: #e50914;
    border: none;
    margin-left: 25px;
    letter-spacing: 1px;
}

img{
    width: 18px;
}
.arrow  {
    width: 20px;
}

button{
    background: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 95px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
   
    
    
}

.content{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.des-container{
    text-align: center;
}
.des1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    
}
.des2{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight:  300;
    
}
.des3{
    padding: 20px;
    font-size: 19px;
    font-family: 'Robot', sans-serif;
}
.content-flex{
    display: flex;
   margin-right: 250px;
   position: relative;
   
}
input{
    width: 450px;
    height: 70px;
    border: none;
    vertical-align: top;
    border-radius: 5px;
   
}
input:focus{
    outline: solid 1px rgb(81, 166, 212);
}
input[type=text]{
    padding-left: 10px;
    font-size: 17px;
}



.get-started{
    width: 214px;
    background-color: #e50914;
    height: 70px;
    position: absolute;
    border: none;
    border-radius: 5px;

}
.get-started p{
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
.arrow-left{
    width: 50px;
}


